.github/
.gitignore
.vscode/**
**/*.map
**/*.ts
**/*.vsix
**/*webpack.config.js
**/out/test/**
**/src/**
**/test/**
**/tsconfig.json
**/tsconfig.tsbuildinfo
eslint.config.js
images/*.svg
node_modules/**
PUBLISHING
