.github/
.gitignore
.vscode/**
**/*.map
**/*.ts
**/*.vsix
**/*webpack.config.js
**/out/test/**
**/src/**
**/test/**
**/tsconfig.json
**/tsconfig.tsbuildinfo
eslint.config.mjs
images/*.svg
node_modules/**
pnpm-lock.yaml
pnpm-workspace.yaml
PUBLISHING
