.github/
.gitignore
.vscode/**
.vscode-test/**
**/*.map
**/*.ts
**/.vscode-test.*
**/*.vsix
**/*webpack.config.js
esbuild.js
**/out/**
**/src/**
**/test/**
**/tsconfig.json
**/tsconfig.tsbuildinfo
eslint.config.mjs
images/*.svg
node_modules/**
pnpm-lock.yaml
pnpm-workspace.yaml
PUBLISHING
